Flask==2.2.2
numba==0.56.4
numpy==1.21
oauthlib==3.2.2
packaging==22.0
pandas==1.5.2
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==6.0
querystring-parser==1.2.4
requests==2.28.2
scikit-learn==1.2.0
scipy==1.10.0
flask==2.2.2
gunicorn==20.1.0
joblib
pandas
scikit-learn
Werkzeug==2.2.2